doctype html
html(lang='ko')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title 1.기본 설정
    meta(name='author', content='qnibus')
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(http-equiv='cleartype', content='on')
    // Latest compiled and minified CSS
    link(type='text/css', href='/css/bootstrap.css', rel='stylesheet')
    link(type='text/css', href='/css/bootstrap-datetimepicker.css', rel='stylesheet')
    link(type='text/css', href='/css/bootstrap-datetimepicker-standalone.css', rel='stylesheet')
    link(type='text/css', href='/css/bootstrap-dialog.css', rel='stylesheet')
    link(type='text/css', href='/css/jquery-ui.css', rel='stylesheet')
    link(type='text/css', href='/css/style.css', rel='stylesheet')
    link(type='text/css', href='/css/non-responsive.css', rel='stylesheet')
    link(type='text/css', href='/css/flags.css', rel='stylesheet')
    link(type='text/css', href='/css/gd5-style.css', rel='stylesheet')
    link(type='text/css', href='/css/admin-custom.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
    script(type='text/javascript', src='JS/underscore-min.js')
    script(type='text/javascript', src='JS/jquery_003.js')
    script(type='text/javascript', src='JS/jquery-ui.js')
    script(type='text/javascript', src='JS/bootstrap.js')
    script(type='text/javascript', src='JS/moment.js')
    script(type='text/javascript', src='JS/numeral.js')
    script(type='text/javascript', src='JS/bootstrap-datetimepicker.js')
    script(type='text/javascript', src='JS/bootstrap-dialog.js')
    script(type='text/javascript', src='JS/bootstrap-filestyle.js')
    script(type='text/javascript', src='JS/ZeroClipboard.js')
    script(type='text/javascript', src='JS/clipboard.js')
    script(type='text/javascript', src='JS/jquery_004.js')
    script(type='text/javascript', src='JS/jquery_007.js')
    script(type='text/javascript', src='JS/jquery.js')
    script(type='text/javascript', src='JS/messages_ko.js')
    script(type='text/javascript', src='JS/additional-methods.js')
    script(type='text/javascript', src='JS/jquery_005.js')
    script(type='text/javascript', src='JS/jquery_006.js')
    script(type='text/javascript', src='JS/common2.js')
    script(type='text/javascript', src='JS/common.js')
    script(type='text/javascript', src='JS/schedule.js')
    script(type='text/javascript', src='JS/jquery_002.js')
    script(type='text/javascript', src='JS/admin_panel_api.js')
    script(type='text/javascript', src='JS/admin-custom.js')
    script(type='text/javascript').
      <!--
      $(document).ready(function () {
      // 메뉴얼 링크
      $(".gd-help-manual").each(function() {
      var linkText = $(this).text().trim().replace(/\\s/g, ''); // 타이틀의 문자열의 공백을 제거함
      var manualUrl = 'http://manual.godomall5.godomall.com/data/manual_view.php?category=policy__management___manage_list#' + linkText;
      $(this).append(' <a href="' + manualUrl + '" target="_blank" class="link-help">페이지 도움말</a>');
      });
      });
      //-->
  body.policy.manage-list.layout-basic
    #container-wrap.container-fluid
      #container.row
        #header.col-xs-12
          nav.navbar
            .container
              .navbar-inner
                .navbar-header
                  a.navbar-brand(style='color:white;text-indent:0;', href='#') Inventory
                  span.pro
                .gnb
                  ul.list-inline
                    li.no-bar
                      .dropdown
                        // js-btn-layer-sub-menu
                        a#headerSubMenuManager.dropdown-toggle.gnb-idinfo(href='#', data-toggle='dropdown', aria-haspopup='false', aria-expanded='false')
                          span 유미나
                          | 님 (
                          span proad00
                          |                                 )
                        ul.dropdown-menu.gnb-dropdown-menu(aria-labelledby='headerSubMenuManager')
                          li.dropdown-item
                            a(href='#') 운영자정보
                          li.dropdown-item
                            a(href='#') 로그아웃
                    li.pos-r.no-bar
                      a.schedule-a(href='javascript:Schedule.addToday()')
                        img(src='IMG/icon_bell.png')
                        span.badge(style='position:absolute;left:12px;top:-6px;') 1
                    li.devide
                    li.no-bar
                      .form-inline.gnb-search
                        .gnb-search-head
                          select#headerSearchType.header-select(name='headerSearchType')
                            option(value='menu', selected='selected') 메뉴
                            option(value='member') 회원
                        .gnb-search-body
                          span.icon-magni
                            img(src='IMG/icon_magni.png', alt='')
                          input#headerSearchKeyword.form-control(name='headerSearchKeyword', placeholder='메뉴검색', type='text')
                          .gnb-search-hint.form-inline.display-none
                            select#headerSearchMenuList.form-control.multiple-select(size='5', style='height:100px;')
                      // <a href="#" class="js-btn-layer-search-member pdr0 ">회원검색</a>
                    // 스타일 안보임 처리 : 컨트롤러 제거는 하지 않음. 직접 URL 입력시 접속됨
                    // <li><a href="../bootstrap/index" style="color:yellow;" target="_blank">스타일</a></li>
              .collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    a#menu_policy.active(href='manage_list.html', style='width:105.90909090909px;') 기본설정
                  li
                    a#menu_goods(href='/admin/goods', style='width:105.90909090909px;') 상품
                  li
                    a#menu_order(href='/admin/order', style='width:105.90909090909px;') 주문
                  li
                    a#menu_member(href='/admin/member', style='width:105.90909090909px;') 회원
                  li
                    a#menu_board(href='/admin/board', style='width:105.90909090909px;') 게시판
                  li
                    a#menu_promotion(href='https://analytics.google.com/analytics/web/#embed/report-home/a109950709w164096919p164844100/', style='width:105.90909090909px;') 통계
              // /.navbar-collapse
          // 고도 사이트로 이동 시작
          form(name='frmGotoGodomall', action='', method='post')
            input(name='pageKey', value='332317', type='hidden')
            input(name='sno', value='332317', type='hidden')
            input(name='mode', value='', type='hidden')
          // 고도 사이트로 이동 끝
          script(type='text/javascript').
            $(document).ready(function () {
            var gd_main_layer = {
            presentation: {id: "presentation", selector: "#layerPresentation", title: "주요현황 조회설정"},
            order_presentation: {id: "orderPresentation", get_id: "getOrderPresentation", title: "주문현황 조회설정"},
            order_setting: {id: "orderSetting", title: "주문관리 조회설정"},
            favorite_menu: {id: "favoriteMenu", get_id: "getFavoriteMenu", selector: "#layerFavorite", title: "자주쓰는 메뉴 설정"}
            };
            var _bootstrap_dialog = BootstrapDialog;
            $('#dropDownFavoriteMenu').on('show.bs.dropdown', function () {
            var dropdown_container = $(this);
            var dropdown_menu = dropdown_container.find('.dropdown-menu');
            $.ajax('../base/main_setting_ps.php', {
            method: "post",
            data: {mode: gd_main_layer.favorite_menu.get_id},
            global_complete: false,
            success: function () {
            if (arguments[0].success === 'OK') {
            var result = arguments[0].result;
            if (result.length > 0) {
            var html = [];
            $.each(result, function (idx, item) {
            var menuName = 'none';
            var menuLink = '';
            if (typeof item.tName === 'string') {
            menuName = item.tName;
            } else if (typeof item.sName === 'string') {
            menuName = item.sName;
            } else if (typeof item.fName === 'string') {
            menuName = item.fName;
            }
            if (typeof item.tUrl === 'string') {
            menuLink = '/' + item.tUrl;
            } else if (typeof item.sUrl === 'string') {
            menuLink = '/' + item.sUrl;
            } else {
            menuLink = '/index.php';
            }
            if (typeof item.fCode === 'string') {
            menuLink = item.fCode + menuLink;
            }
            // html.push('<li role="separator" class="divider"></li>');
            html.push('<li class="dropdown-item"><a href="../' + menuLink + '">' + menuName + '</a></li>');
            });
            dropdown_menu.find('li:gt(0)').remove();
            dropdown_menu.append(html.join(''));
            } else {
            if (dropdown_menu.find('.dropdown-noitem').length == 0) {
            dropdown_menu.find('li:gt(0)').remove();
            dropdown_menu.append('<li class="dropdown-noitem">자주쓰는 메뉴를<br>설정해주세요.</li>');
            }
            }
            } else {
            console.log(arguments);
            }
            }
            });
            });
            $('#dropDownOrderPresentation').on('show.bs.dropdown', function () {
            var dropdown_container = $(this);
            $.ajax('../base/main_setting_ps.php', {
            method: "post",
            data: {mode: gd_main_layer.order_presentation.get_id},
            global_complete: false,
            success: function () {
            if (arguments[0].success === 'OK') {
            var result = arguments[0].result;
            if (result.length > 0) {
            var html = [];
            $.each(result, function (idx, item) {
            // html.push('<li role="separator" class="divider"></li>');
            html.push('<li class="dropdown-item"><a href="' + item.link + '">' + item.name + '<span class="dropdown-item-val"><span class="text-red">' + item.count + '</span>건</span></a></li>');
            });
            var dropdown_menu = dropdown_container.find('.dropdown-menu');
            dropdown_menu.find('li:gt(0)').remove();
            dropdown_menu.append(html.join(''));
            }
            } else {
            console.log(arguments);
            }
            }
            });
            });
            $('.js-setting-presentation').click(function () {
            $.post('/share/layer_presentation_setting.php', {mode: gd_main_layer.presentation.id}, function (data) {
            var options = {title: gd_main_layer.presentation.title, message: $(data), size: _bootstrap_dialog.SIZE_WIDE};
            _bootstrap_dialog.show(options);
            });
            });
            $('.js-setting-cs').bind('click', function () {
            $.post('/share/layer_cs_setting.php', null, function (data) {
            _bootstrap_dialog.show({
            title: '문의/답변관리 조회설정 ',
            message: $(data)
            });
            });
            });
            $('.js-setting-order').bind('click', function () {
            var layer_id = this.dataset.role;
            var title = (layer_id === gd_main_layer.order_presentation.id) ? gd_main_layer.order_presentation.title : gd_main_layer.order_setting.title;
            $.post('../base/layer_order_setting.php', {mode: layer_id}, function (data) {
            var options = {title: title, message: $(data)};
            _bootstrap_dialog.show(options);
            });
            });
            $('.js-setting-favorite-menu').bind('click', function () {
            $.post('/share/layer_favorite_menu.php', {mode: gd_main_layer.favorite_menu.id}, function (data) {
            var options = {title: gd_main_layer.favorite_menu.title, message: $(data), size: _bootstrap_dialog.SIZE_WIDE};
            _bootstrap_dialog.show(options);
            });
            });
            $('#headerSearchType').change(function () {
            if (this.value === 'member') {
            layer_member_search();
            document.getElementById('headerSearchType').options[0].selected = true;
            }
            });
            $('#headerSearchKeyword').keyup(function (e) {
            if (e.keyCode === 13 && this.value.length > 1) {
            $.ajax('../base/main_setting_ps.php', {
            method: "post",
            global_complete: false,
            data: {mode: "searchMenu", keyword: this.value},
            success: function () {
            var result = arguments[0].result;
            var optionHtml = [];
            $.each(result, function (idx, item) {
            var link = '../' + item.fCode + '/' + item.tUrl;
            optionHtml.push('<option value="' + link + '">' + item.tName + '</option>');
            });
            var $headerSearchMenuList = $('#headerSearchMenuList');
            $headerSearchMenuList.closest('div').removeClass('display-none');
            $headerSearchMenuList.find('option').remove();
            if (optionHtml.length == 0) {
            $headerSearchMenuList.append('<option>검색된 메뉴가 없습니다.</option>');
            } else {
            $headerSearchMenuList.append(optionHtml.join(''));
            }
            }
            });
            }
            });
            $('#headerSearchMenuList').on('click', function () {
            location.href = this.value;
            });
            $(window).click(function () {
            var $headerSearchMenuList = $('#headerSearchMenuList').closest('div');
            if ($headerSearchMenuList.hasClass('display-none') === false) {
            $headerSearchMenuList.addClass('display-none');
            }
            });
            });
        #content-wrap
          #menu
            // close/open
            .js-adminmenu-toggle
            // //close/open
            .menu-header.member
              h2 회원
            .panel
              .panel-heading.menu-icon-minus 주문관리
              ul.list-group
                li.list-group-item.active
                  a(href='#') 회원 리스트
                li.list-group-item
                  a(href='#') 회원 탈퇴/ 삭제 관리
                li.list-group-item
                  a(href='#') 회원 메세지 내역
                li.list-group-item
                  a(href='#') 메세지 금칙어 관리
              .panel-heading.menu-icon-minus 메일/메세지 관리
              ul.list-group
                li.list-group-item
                  a(href='#') 개별/전체 메일 발송
                li.list-group-item
                  a(href='#') 자동 메일 설정
                li.list-group-item
                  a(href='#') 메일 발송 내역 보기
                li.list-group-item
                  a(href='#') 개별/전체 메세지 발송
                li.list-group-item
                  a(href='#') 메세지 발송 내역 보기
          #content.row
            .col-xs-12
              .page-header.js-affix.affix-top(style='width: 1632px;border-bottom-width: 0px;!important')
                h3 회원 리스트
              form#frmList(action='', method='get', target='ifrmProcess')
                .table-header.form-inline
                  .pull-left
                    | 전체
                    strong #{memberLength}
                    |             명
                  .pull-right
                    div
                      select.form-control(name='sort')
                        option(value='entryDt desc', selected='selected') 회원가입일↓
                        option(value='entryDt asc') 회원가입일↑
                        option(value='lastLoginDt desc')
                          | 최종로그인↓
                        option(value='lastLoginDt asc')
                          | 최종로그인↑
                        option(value='loginCnt desc')
                          | 방문횟수↓
                        option(value='loginCnt asc') 방문횟수↑
                        option(value='memNm desc') 이름↓
                        option(value='memNm asc') 이름↑
                        option(value='memId desc') 아이디↓
                        option(value='memId asc') 아이디↑
                        option(value='mileage desc') 마일리지↓
                        option(value='mileage asc') 마일리지↑
                        option(value='saleAmt desc') 구매금액↓
                        option(value='saleAmt asc') 구매금액↑
                      select#pageNum.js-page-number.form-control(name='pageNum')
                        option(value='10', selected='selected') 10개 보기
                        option(value='20') 20개 보기
                        option(value='30') 30개 보기
                        option(value='40') 40개 보기
                        option(value='50') 50개 보기
                        option(value='60') 60개 보기
                        option(value='70') 70개 보기
                        option(value='80') 80개 보기
                        option(value='90') 90개 보기
                        option(value='100') 100개 보기
                        option(value='200') 200개 보기
                        option(value='300') 300개 보기
                        option(value='500') 500개 보기
                      // <button type="button" class="btn btn-sm btn-default" id="btnGrid">GRID</button>
                table.table.table-rows
                  colgroup
                    col.width-xs
                    col
                    col.width-xs
                    col
                    col
                    col
                    col
                    col
                    col
                    col
                    col
                    col
                    col
                    col
                  thead
                    tr
                      th 아이디/닉네임
                      th 이름
                      th 회원가입일
                      th 최종로그인
                      th 이메일
                      th 뉴스레터 동의
                      th 성별
                      th 국가
                      th 삭제
                  tbody
                    each user in users
                      tr.center(data-member-no=''+i)
                        td
                          span.font-eng.js-layer-crm.hand
                            | #{user.username}
                        td
                          span.js-layer-crm.hand  #{user.firstName+user.lastName}
                        td
                          span.font-date.js-layer-crm.hand #{user.joinedDate}
                        td
                          span.font-date.js-layer-crm.hand 17-09-01
                        td
                          span.font-date.js-layer-crm.hand #{user.email}
                        td
                          span.font-date.js-layer-crm.hand #{user.newsletter}
                        td
                          span.font-date.js-layer-crm.hand #{user.gender}
                        td
                          span.font-date.js-layer-crm.hand #{user.country}
                        td
                          button.btn.btn-white.btn-sm.btnModify(type='button')
                            | 삭제
                
                .center
                  nav
                    ul.pagination.pagination-sm
                      li.active
                        span 1
              script(type='text/javascript').
                var $formList = $('#frmList');
                var msg = {
                DENY_MAIL: "수신거부한 회원 입니다. 메일 발송을 하시려면 확인을 눌러주세요.",
                DENY_SMS: "수신거부한 회원 입니다. SMS 발송을 하시려면 확인을 눌러주세요.",
                CHECK: "회원을 선택해 주세요.",
                APPLY: "명의 회원이 가입 승인처리되었습니다",
                APPLY_MISS: "가입을 승인할 회원이 없습니다.",
                DELETE: "회원정보 삭제가 완료되었습니다."
                };
                $(document).ready(function () {
                $('.btnModify', $formList).on('click', function (e) {
                location.href = './member_modify.php?memNo=' + member.get_member_attribute(e)
                });
                $('#btnApply', $formList).on('click', apply_member);
                $('#btnDelete', $formList).on('click', check_delete);
                $('.btnSendMail', $formList).on('click', function (e) {
                if (member.get_member_attribute(e, 'data-email').length < 1) {
                alert('이메일 정보가 없는 회원입니다.');
                return;
                }
                if (member.get_member_attribute(e, 'data-maillingFl') === 'y') {
                member_mail(member.get_member_attribute(e));
                } else {
                dialog_confirm(msg.DENY_MAIL, function (result) {
                if (result) {
                member_mail(member.get_member_attribute(e));
                } else {
                layer_close();
                }
                });
                }
                });
                $('#btnJoin').on('click', function (e) {
                location.href = '../member/member_register.php';
                });
                // 정렬&출력수
                $('select[name=\\'sort\']').change({targetForm: '#frmSearchBase'}, member.page_sort);
                });
                function check_delete() {
                var isValid = false;
                var hasDeposit = false; // 예치금 보유 여부
                var hasMileage = false; // 마일리지, 쿠폰 보유 여부
                var $checkList = $formList.find(':checkbox[name="chk[]"]:checked');
                var length = $checkList.length;
                var lastIdx = length - 1;
                if (length == 0) {
                alert("회원을 선택해 주세요.");
                return false;
                }
                $checkList.each(function (idx, item) {
                var $item = $(item);
                if ($item.data('deposit') > 0) {
                hasDeposit = true;
                return false;
                }
                if (hasMileage === false && ($item.data('mileage') > 0 || $item.data('couponcount') > 0)) {
                hasMileage = true;
                }
                });
                if (hasDeposit == true) {
                alert('예치금을 보유중인 회원이 포함되어있습니다. 예치금을 보유중인 회원은 탈퇴처리할 수 없습니다.');
                isValid = false;
                return false;
                }
                if (hasMileage == true) {
                dialog_confirm('사용가능한 쿠폰/마일리지를 보유중인 회원이 포함되어있습니다. 탈퇴처리 시 보유중인 회원혜택은 모두 삭제되고 즉시 탈퇴처리되며, 탈퇴완료 시 취소하실 수 없습니다.\\n선택한 회원을 탈퇴처리하시겠습니까?', function (result) {
                if (result) {
                delete_member();
                }
                });
                return false;
                }
                delete_member();
                }
                function delete_member() {
                if (!member.alert_check($formList, "회원을 선택해 주세요.")) {
                return false;
                }
                dialog_confirm('선택한 회원을 탈퇴처리하시겠습니까? 해당 회원은 즉시 탈퇴처리되며, 탈퇴완료 시 취소할 수 없습니다.', function (result) {
                if (result) {
                var data = $formList.serializeArray();
                data.push({name: "mode", value: "delete"});
                post_with_reload('../member/member_ps.php', data);
                } else {
                layer_close();
                }
                });
                }
                function apply_member(e) {
                e.preventDefault();
                if (member.alert_check($formList, "회원을 선택해 주세요.")) {
                dialog_confirm('선택한' + $(':checkbox:checked', $formList).not('.js-checkall').length + '명의 가입을 승인하시겠습니까?<br/>(자동발송 설정에 따라 회원에게 SMS/메일이 발송됩니다.)', function (result) {
                if (result) {
                var data = $formList.serializeArray();
                data.push({name: "mode", value: "approval_join"});
                post_with_reload('../member/member_batch_ps.php', data);
                }
                });
                }
                }
        script(type='text/javascript').
          <!--
          $(document).ready(function () {
          $.ajax('../base/main_setting_ps.php', {
          method: "post",
          data: {mode: 'orderPresentationNew'},
          global_complete: false,
          beforeSend: function () {
          $('.js-oder-count-new').addClass('display-none')
          },
          success: function () {
          if (arguments[0].success === 'OK') {
          var result = arguments[0].result;
          if (result === true) {
          $('.js-oder-count-new').removeClass('display-none');
          }
          }
          }
          });
          });
          //-->
    #gnbTopAnchor
      a(href='#top')
        img(src='IMG/btn_gnb_top.png')
    iframe.display-none(name='ifrmProcess', src='./blank.html', width='100%', height='200')
    script(type='text/javascript').
      adminPanelApiAjax('member', 'member', 'member_list');
      $(function(){
      // 탑버튼 클릭
      $(document).on("click", "a[href=#top]", function(e) {
      $('html body').animate({scrollTop: 0}, 'fast');
      });
      // 스크롤 최하단시 탑아이콘 출력 (실제 컨텐츠 $('#content > .col-xs-12').height())
      $(window).scroll(function() {
      if ($(window).height() < $(document).height()) {
      if ($(window).scrollTop() >= 1) {
      $("#gnbTopAnchor").slideDown(150);
      } else {
      $("#gnbTopAnchor").slideUp(100);
      }
      }
      });
      });
