doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    title inventory
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='//fonts.googleapis.com/earlyaccess/nanumgothic.css')
    link(rel='stylesheet', href='./css/font-awesome.min.css')
    link(rel='stylesheet', href='./css/swiper.min.css')
    link(rel='stylesheet', href='./css/reset.css')
    link(rel='stylesheet', href='./css/css.css')
    link(rel='stylesheet', href='./css/layout.css')
    link(rel='stylesheet', href='./css/media.css')
    link(rel='stylesheet', href='./css/mtree.css')
    link(rel='stylesheet', href='./css/flexslider.css')
    link(rel='stylesheet', href='./css/slider.css')
    link(rel='stylesheet', href='./css/jquery.fancybox.css')
    script(src='./js/lib/store.min.js')
    script(src='./js/lib/socket.min.js')
    script.
        let socket = io.connect(`http://50.116.7.88/?jwt=${store.get('jwtToken')}`)
    script(src='./js/jquery.js')
    script(src='./js/jquery.form.min.js')
    script(src='./js/jquery.swiper.min.js')
    script(src='./js/script.js')
    script(src='./js/script.mobile.js')
    script(src='./js/mypage.js')
    script(src='./js/about.js')
    script(src='./js/click-page.js')
    script(src='./js/features.js')
    script(src='./js/jquery.ulslide.js')
    script(src='./js/jquery.form.min.js')
    script(src='./js/jquery.swiper.min.js')
    script(src='./js/jquery.flexslider-min.js')
    script(src='./js/jquery.flexslider.js')
    script(src='./js/buy-sell-page.js')
    script(src='./js/jquery.glide.js')
    script(src='./js/jquery.glide2.js')
    script(src='./js/form.js')
    script(src='./js/my-page.js')
    script(src='./js/designers.js')
    script(src='./js/sell.js')
    script(src='./js/lib/axios.min.js')
    script(src='./js/loginCheck.js')
    script(src='./js/jquery.fancybox.js')
    script(src='./js/menu.js')
  body
    // mypage
    #mypage_wrap.mypage_container_cover
    // mypage//
    #hamburger
      .hamburger_inner
        a.close(href='#')
          i.fa.fa-times.fa-1x(aria-hidden='true')
        // 탭
        .tab
          ul.category-tab
            li.active.menu.menutab1
              a(href='#')
                span INVENTORY
            li.menu.menutab2
              a(href='#')
                span FILTER
        // 탭
        // 탭1
        #tab1
          ul.mtree.transit
            li
              a(href='#') MY PAGE
              ul
                li
                  a(href='./mypage/login.html') login
                li
                  a(href='./mypage/join.html#') join
            li
              a(href='./myaccount') ACCOUNT
              ul
                li
                  a(href='./myaccount/messages') Messages
                li
                  a(href='./myaccount/myitems') My items
                li
                  a(href='./myaccount/history') History
                li
                  a(href='./myaccount/settings') Settings
                li
                  a.logout(href='#') Logout                    
            li.nocss
              a(href='./features/features.html') FEATURES
              //
                <ul>
                <li><a href="./features/news.html">News</a></li>
                <li><a href="./features/streestyles.html">StreetStyles</a></li>
                <li><a href="./features/lookbook.html">Lookbook</a></li>
                <li><a href="./features/shopping.html">Shopping</a></li>
                </ul>
            li.nocss
              a(href='./form/form.html') FORUM
            li.nocss
              a(href='/about.html') ABOUT
        // 탭2
        #tab2
          ul.mtree.transit
            li
              a(href='#') GENDER
              ul
                li
                  label
                    input(type='radio', name='gender_name')
                    span Man
                li
                  label
                    input(type='radio', name='gender_name')
                    span Woman
                li
                  label
                    input(type='radio', name='gender_name')
                    span Unisex
            li
              a(href='#') MARKET
              ul
                li
                  label
                    input(type='radio', name='market_name')
                    span Inventory
                li
                  label
                    input(type='radio', name='market_name')
                    span Classic
                li
                  label
                    input(type='radio', name='market_name')
                    span Inventory
            li
              a(href='#') DESIGNER
              ul.mdesigner
                li
                  span.searchtitle Search
                  input(type='text')
                a(href='./designers.html', style='cursor: pointer;') View all designers 
            li
              a(href='#') CATEGORY
              ul.mcategory
                li
                  a(href='#') Tops
                  label
                    input(type='radio', name='category_name')
                    span ALL
                li
                  a(href='#') Bottoms
                  label
                    input(type='radio', name='category_name')
                    span ALL
                li
                  a(href='#') Outerweea
                  label
                    input(type='radio', name='category_name')
                    span ALL
                li
                  a(href='#') Footweer
                  label
                    input(type='radio', name='category_name')
                    span ALL
                li
                  a(href='#') Tailoring
                  label
                    input(type='radio', name='category_name')
                    span ALL
                li
                  a(href='#') Accessories
                  label
                    input(type='radio', name='category_name')
                    span ALL
            li
              a(href='#') SIZE
              ul.msize
                li
                  a(href='#') Tops & Outerwear
                li
                  a(href='#') Bottoms & Pants 
                li
                  a(href='#') Footwear
                li
                  a(href='#') Tailoring
                li
                  a.on(href='#') Accessories
            li
              a(href='#') PRICE
              ul.mprice
                li
                  span.searchtitle Min
                  input(type='text')
                  span.mprice2 ~
                li
                  span.searchtitle Max
                  input(type='text')
            li
              a(href='#') LOCATION
              ul.mlocation
                li
                  a(href='#')
                    label
                      span U.S.A
                      input(type='radio', name='market_name')
                li
                  a(href='#')
                    label
                      span Canada
                      input(type='radio', name='market_name')
                li
                  a(href='#')
                    label
                      span UK
                      input(type='radio', name='market_name')
                li
                  a(href='#')
                    label
                      span EU
                      input(type='radio', name='market_name')
                li
                  a(href='#')
                    label
                      span Asia
                      input(type='radio', name='market_name')
                li
                  a(href='#')
                    label
                      span AU / NZ
                      input(type='radio', name='market_name')
                li
                  a(href='#')
                    label
                      span Other
                      input(type='radio', name='market_name')
        // 탭2
    #wrap.index
      #header
        .header_inner
          .header_row
            .header_top_box
              span.top_string FREE STANDARD SHIPPING ON ORDERS OVER $150
              ul.header_top_nav
                li
                  a(href='/about.html') About
                li
                  a(href='./features/features.html') Features
                li
                  a(href='./form/form.html') Fourm
          .header_row
            .right_header_box
              a.hamburger(href='#')
                i.fa.fa-bars(aria-hidden='true')
              ul.member_category
                li
                  a.sell(href='#') SELL
                li
                  a.enter(href='#') MY PAGE
                li
                  a.mypage(href='mypage/login.html') ENTER
            .left_header_box
              h1#logo
                a(href='/') INVENTORY
              ul.category
                li
                  a.m1(href='./designers.html') DESIGNERS
                li
                  a.m2(href='#') MAN
                li
                  a.m3(href='#') WOMAN
                li
                  a.m4(href='#searchbar') SEARCH
          // sub1
          .dropdown.designers
            .dropdown_inner
              ul
                li
                  a(href='#') Acne Studios
                li
                  a(href='#') Adidas
                li
                  a(href='#') Alexander McQueen
                li
                  a(href='#') Alexander Wang
                li
                  a(href='#') Balenciaga
                li
                  a(href='#')  Balmain
                li
                  a(href='#') Bape
                li
                  a(href='#') Burberry
              ul
                li
                  a(href='#') Comme des Garcons
                li
                  a(href='#')  Common Projects
                li
                  a(href='#') Dior
                li
                  a(href='#') Dries Van Noten
                li
                  a(href='#') Fear of God
                li
                  a(href='#') Givenchy
                li
                  a(href='#') Gucci
                li
                  a(href='#') Julius
                li
                  a(href='#') Junya Watanabe
              ul
                li
                  a(href='#') Lanvin
                li
                  a(href='#')  Louis Vuitton
                li
                  a(href='#') Maison Margiela
                li
                  a(href='#') Nike
                li
                  a(href='#')  Number (N)ine
                li
                  a(href='#')  Off-White
                li
                  a(href='#') Prada
                li
                  a(href='#') Raf Simons
                li
                  a(href='#') Rick Owens
              ul
                li
                  a(href='#') Saint Laurent Paris
                li
                  a(href='#')   Stone Island
                li
                  a(href='#') Supreme
                li
                  a(href='#') Thom Browne
                li
                  a(href='#')  Number (N)ine
                li
                  a(href='#')  Undercover
                li
                  a(href='#')  Visvim
                li
                  a(href='#') Raf Simons
                li
                  a(href='#') Rick Owens
              .viewall
                a(href='./designers.html') VIEW ALL
          // sub1
          // sub2
          .dropdown.man
            .dropdown_inner
              .depthmenu
                h3 New Arrivals
                ul
                  li
                    a(href='#') Clothing 
                  li
                    a(href='#') Shoes 
                  li
                    a(href='#')  Accessories 
                  li
                    a(href='#') Signature 
                  li
                    a(href='#') Back in Stock 
              .depthmenu
                h3 Clothing
                ul
                  li
                    a(href='#') Button Ups 
                  li
                    a(href='#') Coats and Jackets 
                  li
                    a(href='#') Denim 
                  li
                    a(href='#')  Knitwear
                  li
                    a(href='#') Shorts 
                  li
                    a(href='#') Suits 
                  li
                    a(href='#') Trousers
              .depthmenu
                h3 Shoes
                ul
                  li
                    a(href='#') Ankle Boots 
                  li
                    a(href='#') Derbies and Oxfords
                  li
                    a(href='#')  Lace Up Boots
                  li
                    a(href='#')  Sneakers 
                  li
                    a(href='#') Loafers 
                  li
                    a(href='#')  Mid Boots 
                  li
                    a(href='#') Sandals 
              .depthmenu
                h3 Accessories
                ul
                  li
                    a(href='#') Sunglasses 
                  li
                    a(href='#')  Backpacks 
                  li
                    a(href='#') Belts 
                  li
                    a(href='#') Hats 
                  li
                    a(href='#') Jewelry
                  li
                    a(href='#') Scarves and Gloves 
                  li
                    a(href='#') Tote and Duffle Bags
          // sub2
          // sub3
          .dropdown.woman
            .dropdown_inner
              .depthmenu
                h3 New Arrivals
                ul
                  li
                    a(href='#') Clothing 
                  li
                    a(href='#') Shoes
                  li
                    a(href='#') Accessories 
                  li
                    a(href='#') Signature
                  li
                    a(href='#') Back in Stock 
              .depthmenu
                h3 Clothing
                ul
                  li
                    a(href='#') Tops 
                  li
                    a(href='#')  Bottoms 
                  li
                    a(href='#')  Dresses 
                  li
                    a(href='#') Jumpsuits 
                  li
                    a(href='#')  Denim 
                  li
                    a(href='#')  Jackets 
                  li
                    a(href='#') Knitwear 
              .depthmenu
                h3 Shoes
                ul
                  li
                    a(href='#') Ankle 
                  li
                    a(href='#')  Boots 
                  li
                    a(href='#') Sandals 
                  li
                    a(href='#') Clogs 
                  li
                    a(href='#')  Derbies and Oxfords 
                  li
                    a(href='#')  Flats 
                  li
                    a(href='#')  Heels 
                  li
                    a(href='#')  Sneakers 
              .depthmenu
                h3 Accessories
                ul
                  li
                    a(href='#') Jewelry 
                  li
                    a(href='#')  Sunglasses 
                  li
                    a(href='#')  Hats 
                  li
                    a(href='#') Scarves and Gloves 
                  li
                    a(href='#') Belts 
                  li
                    a(href='#')  Hair 
                  li
                    a(href='#') Opticals
          // sub3
          // account
          .accountmenu
            ul
              li
                a(href='./myaccount/messages') MESSAGES
              li
                a(href='./myaccount/myitems') MY ITEMS
              li
                a(href='./myaccount/history') HISTORY
              li
                a(href='./myaccount/settings') SETTINGS
              li
                a.logout(href='#') LOGOUT
          // account
    script(src='./js/mtree.js')
    #containermain
      #content
        .main_contents_wrapper
          .main_top_indiv_banner
            ul.clear-fix
              li
                a(href='click_page.html')
                  img(src='images/main_banner_1.jpg', alt='메인배너')
                  .main_top_layer
                    .layer_inner
                      strong SHOP NEW ARRIVALS
                      span.typhoon
                      span.category_name MAN
                    span.shadow
              li
                a(href='click_page.html')
                  img(src='images/main_banner_2.jpg', alt='메인배너')
                  .main_top_layer
                    .layer_inner
                      strong SHOP NEW ARRIVALS
                      span.typhoon
                      span.category_name MAN
                    span.shadow
          .main_category_row_banner.swiper-container
            #main_category_banner.swiper-wrapper
              .swiper-slide
                .category_col
                  a(href='click_page.html')
                    img(src='images/temp_small_banner.jpg', alt='')
                    .main_top_layer
                      .layer_inner
                        strong SHOP NEW ARRIVALS
                        span.typhoon
                        span.category_name MAN
                      span.shadow
                .category_col
                  a(href='click_page.html')
                    img(src='images/temp_small_banner.jpg', alt='')
                    .main_top_layer
                      .layer_inner
                        strong SHOP NEW ARRIVALS
                        span.typhoon
                        span.category_name MAN
                      span.shadow
                .category_col
                  a(href='click_page.html')
                    img(src='images/temp_small_banner.jpg', alt='')
                    .main_top_layer
                      .layer_inner
                        strong SHOP NEW ARRIVALS
                        span.typhoon
                        span.category_name MAN
                      span.shadow
              .swiper-slide
                .category_col
                  a(href='#')
                    img(src='images/temp_small_banner.jpg', alt='')
                    .main_top_layer
                      .layer_inner
                        strong SHOP NEW ARRIVALS
                        span.typhoon
                        span.category_name MAN
                      span.shadow
                .category_col
                  a(href='#')
                    img(src='images/temp_small_banner.jpg', alt='')
                    .main_top_layer
                      .layer_inner
                        strong SHOP NEW ARRIVALS
                        span.typhoon
                        span.category_name MAN
                      span.shadow
                .category_col
                  a(href='#')
                    img(src='images/temp_small_banner.jpg', alt='')
                    .main_top_layer
                      .layer_inner
                        strong SHOP NEW ARRIVALS
                        span.typhoon
                        span.category_name MAN
                      span.shadow
            a.nav.main_visual_prev(href='#')
              img(src='images/main_visual_prev.png', alt='PREV')
            a.nav.main_visual_next(href='#')
              img(src='images/main_visual_next.png', alt='NEXT')
          #searchbar.main_search_area
            strong.top_string BROWSE THE FEED
            span.typoon
            #search
              .search_row
                span.search_ico
                form(method='post')
                  fieldset
                    // <span class="searchtitle">Search</span>
                    input#keyword(type='text', name='keyword', required='', placeholder='Search Category , name and more')
                    button(type='submit')
                      i.fa.fa-search
              .search_row.last
                ul.clear-fix
                  li
                    a.refresh(href='#')
                      span.fa.fa-refresh(aria-hidden='true')
                      | REFRESH
                  li
                    a.sortby(href='#')
                      | Sort by
                      span.fa.fa-caret-down(aria-hidden='true')
                .filter-toggle
                  | HIDE FILTERS
                  span.fa.fa-caret-left(aria-hidden='true')
                .orderlist
                  ul
                    li
                      a(href='#') DEFAULT
                    li
                      a(href='#') NEW
                    li
                      a(href='#') LOW PRICE
                    li
                      a(href='#') HIGH PIRCE
                    li
                      a(href='#') POPULAR
          .main_product_wrap
            .clear-fix
              .left_filter_box
                .left_filter_inner
                  .indiv_filter_box
                    a.clearfilters(href="#")
                      span.fa.fa-times(style="padding-right: 6px")
                      | CLEAR FILTERS
                    strong.title Gender
                    fieldset(data-filter-group)
                      ul
                        li
                          input(type='radio', name='gender_name', value='.genderCheck_male')
                          label Man
                        li
                          input(type='radio', name='gender_name', value='.genderCheck_female')
                          label Woman
                        li
                          input(type='radio', name='gender_name', value='.genderCheck_unisex')
                          label Unisex  
                  .indiv_filter_box
                    strong.title MARKET
                    fieldset(data-filter-group)
                      ul
                        li
                          input(type='radio', name='productCategory', value='.market_grails')
                          label Inventory
                        li
                          input(type='radio', name='productCategory', value='.market_hype')
                          label Classic
                        li
                          input(type='radio', name='productCategory', value='.market_core')
                          label Basics
                  .indiv_filter_box
                    strong.title DESIGNER
                    .left_search
                      .left_search_row
                        .left_search_inner
                          .left_search_display
                            input#search_filter(type='text', name='designer_keyword', placeholder='Search Category , name and more')
                          .left_search_layer
                            // ajax search designer list
                      .left_search_row
                        .all_designer_btn_box
                          | View all Designers
                          span.fa.fa-caret-right(aria-hidden='true')
                        .designers-popover.logged-in
                          button.close ✕
                          .designer-group.scrollbar
                            .all_designer_title ALL
                            .alpabet C
                            label
                              input(type='radio', name='C.P. Company ')
                              span C.P. Company 
                            br
                            label
                              input(type='radio', name='C2h4 ')
                              span C2h4 
                            br
                            label
                              input(type='radio', name='Cabane De Zucca ')
                              span Cabane De Zucca 
                            br
                            label
                              input(type='radio', name='Cactus Plant Flea Market ')
                              span Cactus Plant Flea Market 
                            br
                            label
                              input(type='radio', name='Call Me 917 ')
                              span Call Me 917 
                            br
                            label
                              input(type='radio', name='Calvin Klein ')
                              span Calvin Klein 
                            br
                            label
                              input(type='radio', name='Camper')
                              span Camper
                            br
                            label
                              input(type='radio', name='Canada Goose')
                              span  Canada Goose
                            br
                            label
                              input(type='radio', name='Canali')
                              span Canali
                            br
                            label
                              input(type='radio', name='Carhartt')
                              span Carhartt
                            br
                            label
                              input(type='radio', name='Carmina')
                              span Carmina
                            br
                            label
                              input(type='radio', name='Carol')
                              span Carol
                            br
                            label
                              input(type='radio', name='Christian Poell')
                              span Christian Poell
                            br
                            label
                              input(type='radio', name='Carpe Diem')
                              span Carpe Diem
                            br
                            label
                              input(type='radio', name='Carrera')
                              span Carrera
                            br
                            label
                              input(type='radio', name='Cartier')
                              span Cartier
                            br
                            label
                              input(type='radio', name='Carven')
                              span Carven
                            br
                            label
                              input(type='radio', name='Casbia')
                              span Casbia
                            br
                            label
                              input(type='radio', name='Casely Hayford')
                              span Casely Hayford
                            br
                            label
                              input(type='radio', name='Casey')
                              span Casey
                            br
                            label
                              input(type='radio', name='Casey')
                              span Casey
                            br
                            label
                              input(type='radio', name='Cash Ca')
                              span Cash Ca
                            br
                            label
                              input(type='radio', name='Casio')
                              span Casio
                            br
                            label
                              input(type='radio', name='Cav Empt')
                              span Cav Empt
                            br
                            label
                              input(type='radio', name='Cazal')
                              span Cazal
                            br
                            label
                              input(type='radio', name='Cease And Desist')
                              span Cease And Desist
                            br
                            label
                              input(type='radio', name='Cedric Jacquemyn')
                              span Cedric Jacquemyn
                            br
                            label
                              input(type='radio', name='Celine')
                              span Celine
                            br
                            label
                              input(type='radio', name='Cerruti 1881')
                              span Cerruti 1881
                            br
                            label
                              input(type='radio', name='Cesare Paciotti')
                              span Cesare Paciotti
                            br
                            label
                              input(type='radio', name='Champion')
                              span Champion
                            br
                            label
                              input(type='radio', name='Chance The Rapper')
                              span Chance The Rapper
                            br
                            label
                              input(type='radio', name='Chanel')
                              span Chanel
                            br
                            label
                              input(type='radio', name='Chapter')
                              span Chapter
                            br
                            label
                              input(type='radio', name='Charvet')
                              span Charvet
                            br
                            label
                              input(type='radio', name='Chevignon')
                              span Chevignon
                            br
                            label
                              input(type='radio', name='Chimala')
                              span Chimala
                            br
                            label
                              input(type='radio', name='Chippewa')
                              span Chippewa
                            br
                            label
                              input(type='radio', name='Chloe')
                              span Chloe
                            br
                            label
                              input(type='radio', name='Cottweiler')
                              span Cottweiler
                            br
                            label
                              input(type='radio', name='Craig Green')
                              span Craig Green
                            br
                            label
                              input(type='radio', name='Creative Recreation')
                              span Creative Recreation
                            br
                            label
                              input(type='radio', name='Creep Crescent Down Works')
                              span Creep Crescent Down Works
                            br
                            label
                              input(type='radio', name='Crockett & Jones')
                              span Crockett & Jones
                            br
                            label
                              input(type='radio', name='Cutler And Gross')
                              span Cutler And Gross
                            br
                            label
                              input(type='radio', name='Cwst')
                              span Cwst
                            br
                            label
                              input(type='radio', name='Cypress')
                              span Cypress
                          .designer-selected
                            .all_designer_title SELECTED
                            .selectbtnwrap
                              .selectbtn.clearall
                                span Clear All
                  .indiv_filter_box
                    strong.title CATEGORY
                    ul.category_list
                      li
                        a(href='#') Tops
                        .category_all_btn_box
                          label
                            input(type='radio', value="Tops").checkbox.category_filters
                            span.all All
                      li
                        a(href='#') Bottoms
                        .category_all_btn_box
                          label
                            input(type='radio', value="Bottoms").checkbox.category_filters
                            span.all All
                      li
                        a(href='#') Outerwear
                        .category_all_btn_box
                          label
                            input(type='radio', value="Outerwear").checkbox.category_filters
                            span.all All
                      li
                        a(href='#') Footwear
                        .category_all_btn_box
                          label
                            input(type='radio', value="Footwear").checkbox.category_filters
                            span.all All
                      li
                        a(href='#') Tailoring
                        .category_all_btn_box
                          label
                            input(type='radio', value="Tailoring").checkbox.category_filters
                            span.all All
                      li
                        a(href='#') Accessories
                        .category_all_btn_box
                          label
                            input(type='radio', value="Accessories").checkbox.category_filters
                            span.all All
                  .indiv_filter_box
                    strong.title SIZE
                    ul.size_list
                      li
                        a(href='#')
                          | Tops & Outerwear
                          span.fa.fa-caret-right(aria-hidden='true')
                      li
                        a(href='#')
                          | Bottoms & Pants
                          span.fa.fa-caret-right(aria-hidden='true')
                      li
                        a(href='#')
                          | Footwear
                          span.fa.fa-caret-right(aria-hidden='true')
                      li
                        a(href='#')
                          | Tailoring
                          span.fa.fa-caret-right(aria-hidden='true')
                      li
                        a(href='#')
                          | Accessories
                          span.fa.fa-caret-right(aria-hidden='true')
                  .indiv_filter_box
                    strong.title PRICE
                    .filter_price_box
                      .price_row
                        input(type='text', name='min_price', placeholder='MIN')
                      .price_row
                        input(type='text', name='max_price', placeholder='MAX')
                  .indiv_filter_box
                    strong.title LOCATION
                    ul.location_list
                      li
                        label
                          span.location_name U.S.A
                          input(type='radio', name='seller_country', value="US").checkbox.country_filters
                          span.countryHelper
                      li
                        a(href='#')
                          span.location_name Canada
                          input(type='radio', name='seller_country', value="CA").checkbox.country_filters
                          span.countryHelper
                      li
                        a(href='#')
                          span.location_name UK
                          input(type='radio', name='seller_country', value="UK").checkbox.country_filters
                          span.countryHelper
                      li
                        a(href='#')
                          span.location_name EU
                          input(type='radio', name='seller_country', value="EU").checkbox.country_filters
                          span.countryHelper
                      li
                        a(href='#')
                          span.location_name Asia
                          input(type='radio', name='seller_country', value="AS").checkbox.country_filters
                          span.countryHelper
                      li
                        a(href='#')
                          span.location_name AU / NZ
                          input(type='radio', name='seller_country', value="AU/NZ").checkbox.country_filters
                          span.countryHelper
                      li
                        a(href='#')
                          span.location_name Other
                          input(type='radio', name='seller_country', value="ETC").checkbox.country_filters
                          span.countryHelper
              .right_product_box.mini
                .product_wrap
                  #over_view
                    each val in data
                      .product.mix(class=val.classes, data-title=val.productSubTitle, data-category=val.productCategory, data-price=val.productPrice, data-country=val.sellerCountry)
                        a(href="/listings/" + val.productURL)
                          .thumbnail
                            img(src="." + val.productImage.cover)
                          .information
                            ol
                              li
                                span.product_name #{val.productTitle}
                              li
                                span.short_desc #{val.productSubTitle}
                              li
                                span.product_size #{val.productSize}
                              li.price_row
                                .price_row1
                                  .product_good
                                    span.goodtog
                                      img.goodico(src='images/product_good_ico.png', alt='GOOD')
                                      img(style='display:none;', src='images/product_good_ico2.png')
                                    span.count #{val.like}
                                  .product_price
                                    img(src='images/product_dollar_ico.png', alt='DOLLAR')
                                    span.count #{val.productPrice}
                                  .price_row2
                                    span.write_data #{val.timeAgo}
                          .main_top_layer
                            span.shadow
    #footer
      .footer_inner
        .left_footer_box
          ul.social_nav
            li
              a(href='#')
                img(src='./images/fk_ico.png', alt='FACE BOOK')
            li
              a(href='#')
                img(src='./images/it_ico.png', alt='INSTAGRAM')
        .cetner_desc_box
          p © 2017 INVENTORY All right Reserved
        .right_footer_box
          ul.footer_nav
            li
              a(href='#') TERMS & CONDITIONS
            li
              a(href='#') PRIVACY POLICY
            li
              a(href='#') CONTACT
      span.shadow
    .black_shadow
    script(src='./js/lib/mixitup.min.js')
    script(src='./js/lib/mixitup_multifilter.min.js')
    script(src='./js/filter.js')
    script.
      $('.logout').click(() => {
        store.clearAll()
        location.reload()
      })